<!DOCTYPE html>
<html>

<head>
    <%- include('head') %>
</head>

<body>

    <%- include('menus') %>

        <main class="container">

            <div class="starter-template text-center py-5 px-3">
                <h1>
                    <%= title %>
                </h1>

                <form id="form">
                    <select class="form-select" id="numFacturas">
                        <option selected value="50">Selecciona el número de facturas a insertar</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                        <option value="350">350</option>
                        <option value="400">400</option>
                        <option value="450">450</option>
                        <option value="500">500</option>
                        <option value="550">550</option>
                        <option value="600">600</option>
                        <option value="650">650</option>
                        <option value="700">700</option>
                        <option value="750">750</option>
                        <option value="800">800</option>
                        <option value="850">850</option>
                        <option value="900">900</option>
                        <option value="950">950</option>
                        <option value="1000">1000</option>
                        <option value="1050">1050</option>
                        <option value="1100">1100</option>
                        <option value="1150">1150</option>
                        <option value="1200">1200</option>
                        <option value="1250">1250</option>
                        <option value="1300">1300</option>
                        <option value="1350">1350</option>
                        <option value="1400">1400</option>
                        <option value="1450">1450</option>
                        <option value="1500">1500</option>
                        <option value="1550">1550</option>
                        <option value="1600">1600</option>
                        <option value="1650">1650</option>
                        <option value="1700">1700</option>
                        <option value="1750">1750</option>
                        <option value="1800">1800</option>
                        <option value="1850">1850</option>
                        <option value="1900">1900</option>
                        <option value="1950">1950</option>
                        <option value="2000">2000</option>
                        <option value="2050">2050</option>
                        <option value="2100">2100</option>
                        <option value="2150">2150</option>
                        <option value="2200">2200</option>
                        <option value="2250">2250</option>
                        <option value="2300">2300</option>
                        <option value="2350">2350</option>
                        <option value="2400">2400</option>
                        <option value="2450">2450</option>
                        <option value="2500">2500</option>
                        <option value="2550">2550</option>
                        <option value="2600">2600</option>
                        <option value="2650">2650</option>
                        <option value="2700">2700</option>
                        <option value="2750">2750</option>
                        <option value="2800">2800</option>
                        <option value="2850">2850</option>
                        <option value="2900">2900</option>
                        <option value="2950">2950</option>
                        <option value="3000">3000</option>
                        <option value="3050">3050</option>
                        <option value="3100">3100</option>
                        <option value="3150">3150</option>
                        <option value="3200">3200</option>
                        <option value="3250">3250</option>
                        <option value="3300">3300</option>
                        <option value="3350">3350</option>
                        <option value="3400">3400</option>
                        <option value="3450">3450</option>
                        <option value="3500">3500</option>
                        <option value="3550">3550</option>
                        <option value="3600">3600</option>
                        <option value="3650">3650</option>
                        <option value="3700">3700</option>
                        <option value="3750">3750</option>
                        <option value="3800">3800</option>
                        <option value="3850">3850</option>
                        <option value="3900">3900</option>
                        <option value="3950">3950</option>
                        <option value="4000">4000</option>
                        <option value="4050">4050</option>
                        <option value="4100">4100</option>
                        <option value="4150">4150</option>
                        <option value="4200">4200</option>
                        <option value="4250">4250</option>
                        <option value="4300">4300</option>
                        <option value="4350">4350</option>
                        <option value="4400">4400</option>
                        <option value="4450">4450</option>
                        <option value="4500">4450</option>
                        <option value="4550">4550</option>
                        <option value="4600">4600</option>
                        <option value="4650">4650</option>
                        <option value="4700">4700</option>
                        <option value="4750">4750</option>
                        <option value="4800">4800</option>
                        <option value="4850">4850</option>
                        <option value="4900">4900</option>
                        <option value="4950">4950</option>
                        <option value="5000">5000</option>
                    </select>
                    <div class="row"><br></div>
                    <button type="button" id="submit" class="btn btn-primary" onclick=enviarForm()>Enviar!</button>
                </form>
                <br><br>
                <img src="loading.gif" id="loading_gif" style="display: none; margin-left: auto; margin-right: auto;"
                    width="5%" height="5%" />
                <br>
                <canvas id="qrcode" width="400" height="400"></canvas>
                <br>
                <label id="qrcode_label" for="qrcode" style="display: none;"></label>
                <br>
                <div id="charts-div" style="display: none;">
                    <h3>Tiempo de Inserción en BD</h3>
                    <canvas id="insert-chart"></canvas>

                    <h3>Tiempo de Compresión de Datos</h3>
                    <canvas id="compress-chart"></canvas>
                </div>



                <script>
                    function enviarForm() {
                        $('#loading_gif').show();
                        $('#charts-div').hide();
                        $('#qrcode').hide();
                        $('#loading_gif').show();
                        //$('#qrcode_label').text(res.tbai_id);
                        $('#qrcode_label').hide();
                        $.ajax({
                            type: "get",
                            url: "/insertmanyagrupadas?num=" + $('#numFacturas').val(),
                            cache: false,
                            success: function (res) {
                                var canvas = document.getElementById('qrcode');
                                var context = canvas.getContext('2d');
                                context.clearRect(0, 0, canvas.width, canvas.height);

                                QRCode.toCanvas(canvas, 'localhost:3000/gr?id=' + res.tbai_id, function (err) {
                                    //QRCode.toCanvas(canvas, '158.227.112.237:3000/gr?id='+result.tbai_id, function(err){
                                    if (err) {
                                        console.log(err);
                                    }
                                    $('#loading_gif').hide();
                                    $('#qrcode').show();
                                    $('#qrcode_label').text(res.tbai_id);
                                    $('#qrcode_label').show();
                                });

                                createCharts(res.stats);
                            }
                        });
                    }

                    function createCharts(stats) {

                        var ctx = document.getElementById('insert-chart');

                        if(Chart.getChart('insert-chart')!=null){
                            Chart.getChart('insert-chart').destroy();
                        }

                        if(Chart.getChart('compress-chart') != null){
                            Chart.getChart('compress-chart').destroy();
                        }

                        
                        
                        /*
                        var context = ctx.getContext('2d');
                        context.clearRect(0,0,ctx.width, ctx.height);
                        context.restore();*/

                        var labels = ["MongoDB", "Cassandra"];
                        var data = {
                            labels: labels,
                            datasets: [{
                                label: "Tiempo de Inserción de Datos en BD",
                                data: [stats.insert_mongo, stats.insert_cassandra],
                                backgroundColor: ["rgba(255, 99, 132, 0.2)", "rgba(54, 162, 235, 0.2)"],
                                borderColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)"],
                                borderWidth: 1
                            }]
                        };

                        var config = {
                            type: 'bar',
                            data: data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        let insert_chart = new Chart(ctx, config);


                        var ctx_compress = document.getElementById('compress-chart');


                        var labels_compress = ["Cassandra", "MongoDB Total"];
                        labels_compress.push();
                        var dataset_data = [stats.comprimir_total_cassandra, stats.comprimir_mongo.reduce((a, b) => a + b, 0)];
                        var dataset_color = ["rgba(54, 162, 235, 0.2)", "rgba(255, 99, 132, 0.2)"];
                        var dataset_border = ['rgb(54, 162, 235)', 'rgb(255, 99, 132)'];

                        for (var i = 1; i <= stats.comprimir_mongo.length; i++) {
                            labels_compress.push("MongoDB Part_" + i);
                            dataset_data.push(stats.comprimir_mongo[i - 1]);
                            dataset_color.push("rgba(153, 102, 255, 0.2)");
                            dataset_border.push('rgb(153, 102, 255)');
                        }


                        var data_compres = {
                            labels: labels_compress,
                            datasets: [{
                                label: "Tiempo de Compresión de Datos",
                                data: dataset_data,
                                backgroundColor: dataset_color,
                                borderColor: dataset_border,
                                borderWidth: 1
                            }]
                        };

                        var config_compress = {
                            type: 'bar',
                            data: data_compres,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };
                        let compress_chart = new Chart(ctx_compress, config_compress);
                        $('#charts-div').show();

                    }

                </script>

            </div>
            <div>
            </div>
        </main>

</body>

</html>