<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('head') %>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('sidebar') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('topbar') %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Inserción Múltiple de Facturas</h1>
                            </div>

                            <!-- Content Row -->

                            <div class="row justify-content-center">
                                <form class="user" id="form">
                                    <div class="form-group row">
                                        <select class="custom-select" id="numFacturas">
                                            <option selected value="50">Selecciona el número de facturas a insertar
                                            </option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="200">200</option>
                                            <option value="250">250</option>
                                            <option value="300">300</option>
                                            <option value="350">350</option>
                                            <option value="400">400</option>
                                            <option value="450">450</option>
                                            <option value="500">500</option>
                                            <option value="550">550</option>
                                            <option value="600">600</option>
                                            <option value="650">650</option>
                                            <option value="700">700</option>
                                            <option value="750">750</option>
                                            <option value="800">800</option>
                                            <option value="850">850</option>
                                            <option value="900">900</option>
                                            <option value="950">950</option>
                                            <option value="1000">1000</option>
                                            <option value="1050">1050</option>
                                            <option value="1100">1100</option>
                                            <option value="1150">1150</option>
                                            <option value="1200">1200</option>
                                            <option value="1250">1250</option>
                                            <option value="1300">1300</option>
                                            <option value="1350">1350</option>
                                            <option value="1400">1400</option>
                                            <option value="1450">1450</option>
                                            <option value="1500">1500</option>
                                            <option value="1550">1550</option>
                                            <option value="1600">1600</option>
                                            <option value="1650">1650</option>
                                            <option value="1700">1700</option>
                                            <option value="1750">1750</option>
                                            <option value="1800">1800</option>
                                            <option value="1850">1850</option>
                                            <option value="1900">1900</option>
                                            <option value="1950">1950</option>
                                            <option value="2000">2000</option>
                                            <option value="2050">2050</option>
                                            <option value="2100">2100</option>
                                            <option value="2150">2150</option>
                                            <option value="2200">2200</option>
                                            <option value="2250">2250</option>
                                            <option value="2300">2300</option>
                                            <option value="2350">2350</option>
                                            <option value="2400">2400</option>
                                            <option value="2450">2450</option>
                                            <option value="2500">2500</option>
                                            <option value="2550">2550</option>
                                            <option value="2600">2600</option>
                                            <option value="2650">2650</option>
                                            <option value="2700">2700</option>
                                            <option value="2750">2750</option>
                                            <option value="2800">2800</option>
                                            <option value="2850">2850</option>
                                            <option value="2900">2900</option>
                                            <option value="2950">2950</option>
                                            <option value="3000">3000</option>
                                            <option value="3050">3050</option>
                                            <option value="3100">3100</option>
                                            <option value="3150">3150</option>
                                            <option value="3200">3200</option>
                                            <option value="3250">3250</option>
                                            <option value="3300">3300</option>
                                            <option value="3350">3350</option>
                                            <option value="3400">3400</option>
                                            <option value="3450">3450</option>
                                            <option value="3500">3500</option>
                                            <option value="3550">3550</option>
                                            <option value="3600">3600</option>
                                            <option value="3650">3650</option>
                                            <option value="3700">3700</option>
                                            <option value="3750">3750</option>
                                            <option value="3800">3800</option>
                                            <option value="3850">3850</option>
                                            <option value="3900">3900</option>
                                            <option value="3950">3950</option>
                                            <option value="4000">4000</option>
                                            <option value="4050">4050</option>
                                            <option value="4100">4100</option>
                                            <option value="4150">4150</option>
                                            <option value="4200">4200</option>
                                            <option value="4250">4250</option>
                                            <option value="4300">4300</option>
                                            <option value="4350">4350</option>
                                            <option value="4400">4400</option>
                                            <option value="4450">4450</option>
                                            <option value="4500">4450</option>
                                            <option value="4550">4550</option>
                                            <option value="4600">4600</option>
                                            <option value="4650">4650</option>
                                            <option value="4700">4700</option>
                                            <option value="4750">4750</option>
                                            <option value="4800">4800</option>
                                            <option value="4850">4850</option>
                                            <option value="4900">4900</option>
                                            <option value="4950">4950</option>
                                            <option value="5000">5000</option>
                                            <option value="8336">8336</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <a class="btn btn-primary btn-user btn-block" onclick=enviarForm()>Insertar
                                            Facturas!</a>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <img src="loading.gif" id="loading_gif"
                                    style="display: none; margin-left: auto; margin-right: auto;" width="5%"
                                    height="5%" />
                            </div>
                            <div class="row justify-content-center">
                                <canvas id="qrcode"></canvas>
                            </div>
                            <div class="row justify-content-center">
                                <label id="qrcode_label" for="qrcode" style="display: none;"></label>
                            </div>
                            <!-- Content Row -->
                            <div id="charts-div" style="display:none">
                                <div class="row">
                                    <!-- Area Chart -->
                                    <div class="col-xl-12 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Tiempo de Inserción en BD
                                                </h6>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="chart-bar">
                                                    <canvas id="insert-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Area Chart -->
                                    <div class="col-xl-12 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Tiempo de Compresión de Datos
                                                </h6>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="chart-bar">
                                                    <canvas id="compress-chart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('footer') %>
                    <!-- End of Footer -->
                <script src="js/insertMany.js"></script>
            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>