<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TFG Gorka Alvarez</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <% if(page == "index"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <% } %>

          <% if(page == "tctest"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Pruebas TC</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/tctest">Pruebas TC</a></li>
          <% } %>

          <% if(page == "insercion"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Pruebas de Inserción</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/insercion">Pruebas de Inserción</a></li>
          <% } %>
          <% if(page == "insertMany"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Inserción Agrupada</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/insertmany">Inserción Agrupada</a></li>
          <% } %>
          <% if(page == "getFactura"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Búsqueda de Facturas</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/getfactura">Búsqueda de Facturas</a></li>
          <% } %>
          <% if(page == "estadisticas"){ %>
            <li class="nav-item"><a class="nav-link active" href="#">Estadísticas de Sector</a></li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/statistics">Estadísticas de Sector</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <br>