<!DOCTYPE html>
<html>
  <head>
    <%- include('head') %>
  </head>
  <body>

    <%- include('menus') %>

    <main class="container">

      <div class="starter-template text-center py-5 px-3">
        <h1><%= title %></h1>
        <form>
            <div class="row">
                <div class="col">
                    <label for="sector-list">Selección de Sector</label>
                    <select id="sector" class="form-select">
                        <option selected value="-1">Selecciona un sector</option>
                        <option value="hosteleria">Hosteleria</option>
                        <option value="maquinaria">Maquinaria</option>
                    </select>
                </div>
                <div class="col">
                    <label for="nif-empresa">NIF de la Empresa</label>
                    <input id="nif-empresa" type="text" placeholder="11111111A" class="form-control" style="text-align: center;"/>
                </div>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary" style="margin-right: auto; margin-left: auto;" onclick=calcStatistics()>Calcular Estadisticas!</button>
        </form>
        <br>
        <img src="loading.gif" id="loading_gif" style="display: none; margin-left: auto; margin-right: auto;" width="5%"
          height="5%" />
        <br>
        <div id="charts" style="display: none;">
          <h3>Ventas Diarias</h3>
          <canvas id="ventas-diarias"></canvas>
          <h3>Ventas Semanales</h3>
          <canvas id="ventas-semanales"></canvas>
          <h3>Ventas Mensuales</h3>
          <canvas id="ventas-mensuales"></canvas>
          <h3>Ventas Trimestrales</h3>
          <canvas id="ventas-triMes"></canvas>
        </div>
      </div>

      <script>
          function calcStatistics() {
                $('#charts').hide();
                $('#loading_gif').show();
                let sector = $('#sector').val();
                let nif = $('#nif-empresa').val();    
                if(sector != -1){

                    $.ajax({
                        type: "get",
                        url: "/showstatistics?sector="+sector+"&nif="+nif,
                        cache: false,
                        async: false,
                        success: function(res){
                          if(Chart.getChart('ventas-diarias')!=null){
                            Chart.getChart('ventas-diarias').destroy();
                          }
                          if(Chart.getChart('ventas-semanales')!=null){
                            Chart.getChart('ventas-semanales').destroy();
                          }
                          if(Chart.getChart('ventas-mensuales')!=null){
                            Chart.getChart('ventas-mensuales').destroy();
                          }
                          if(Chart.getChart('ventas-triMes')!=null){
                            Chart.getChart('ventas-triMes').destroy();
                          }
                          var dia_data = {
                            labels: res.dia_labels,
                            datasets: [{
                              label: "Ventas del Sector",
                              data: res.dia_sector,
                              fill: false,
                              borderColor: 'rgb(75, 192, 192)',
                              tension: 0.1
                            },
                            {
                              label: "Ventas de la empresa",
                              data: res.dia_nif,
                              fill: false,
                              borderColor: "rgb(255, 99, 132)",
                              tension: 0.1
                            }]
                          };

                          var dia_config = {
                            type: "line",
                            data: dia_data
                          }

                          var dia_ctx = document.getElementById('ventas-diarias');
                          var dia_chart = new Chart(dia_ctx, dia_config);

                          var semana_data = {
                            labels: res.semana_labels,
                            datasets: [{
                              label: "Ventas del Sector",
                              data: res.semana_sector,
                              fill: false,
                              borderColor: 'rgb(75, 192, 192)',
                              tension: 0.1
                            },
                            {
                              label: "Ventas de la empresa",
                              data: res.semana_nif,
                              fill: false,
                              borderColor: "rgb(255, 99, 132)",
                              tension: 0.1
                            }]
                          };

                          var semana_config = {
                            type: "line",
                            data: semana_data
                          }

                          var semana_ctx = document.getElementById('ventas-semanales');
                          var semana_chart = new Chart(semana_ctx, semana_config);

                          var mes_data = {
                            labels: res.mes_labels,
                            datasets: [{
                              label: "Ventas del Sector",
                              data: res.mes_sector,
                              fill: false,
                              borderColor: 'rgb(75, 192, 192)',
                              tension: 0.1
                            },
                            {
                              label: "Ventas de la empresa",
                              data: res.mes_nif,
                              fill: false,
                              borderColor: "rgb(255, 99, 132)",
                              tension: 0.1
                            }]
                          };

                          var mes_config = {
                            type: "line",
                            data: mes_data
                          }

                          var mes_ctx = document.getElementById('ventas-mensuales');
                          var mes_chart = new Chart(mes_ctx, mes_config);

                          var triMes_data = {
                            labels: res.triMes_labels,
                            datasets: [{
                              label: "Ventas del Sector",
                              data: res.triMes_sector,
                              fill: false,
                              borderColor: 'rgb(75, 192, 192)',
                              tension: 0.1
                            },
                            {
                              label: "Ventas de la empresa",
                              data: res.triMes_nif,
                              fill: false,
                              borderColor: "rgb(255, 99, 132)",
                              tension: 0.1
                            }]
                          };

                          var triMes_config = {
                            type: "line",
                            data: triMes_data
                          }

                          var triMes_ctx = document.getElementById('ventas-triMes');
                          var triMes_chart = new Chart(triMes_ctx, triMes_config);

                          $('#loading_gif').hide();
                          $('#charts').show();

                        }
                    });
                }else{
                    //Error "Selecciona un sector válido"
                }
            }
      </script>

      <div>
    </div>
    </main>
    <%- include('footer') %>
  </body>
</html>
